ray[default]==2.2.0
notebook==6.5.2
jupyter-client==7.3.5
jupytext==1.14.4
papermill==2.4.0
opentelemetry-api==1.15.0
opentelemetry-sdk==1.15.0
opentelemetry-exporter-otlp==1.15.0
fastcore==1.4.3
ghapi==0.1.19
requests==2.27.1
python-dateutil==2.8.2
pydantic==1.10.4
