protobuf==3.20.2
ray[default]==1.9.1
jinja2<3.1.0
notebook==6.5.2
jupytext==1.14.1
papermill==2.4.0
opentelemetry-api==1.14.0
opentelemetry-sdk==1.14.0
opentelemetry-exporter-otlp==1.14.0
fastcore==1.4.3
ghapi==0.1.19
requests==2.27.1
python-dateutil==2.8.2
